import React from 'react';

// import { useTheme } from 'utils/Theme';
import { {{ pascalCase name}}GeneratedProps } from './{{ pascalCase name}}.props';
import { Container } from './{{ pascalCase name}}.style';

const {{ pascalCase name}}View = (props: {{ pascalCase name}}GeneratedProps) => {
  // const theme = useTheme();
  return (
    <Container>
      <h1>{{pascalCase name}} Screen</h1>
    </Container>
  );
};

export default {{ pascalCase name}}View;